<app-header></app-header>

<div class="container mt-4">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title">Información de tu perfil</h2>
                    <p class="card-text"><strong>Nombre:</strong> Sofía Mora</p>
                    <p class="card-text"><strong>Correo electrónico:</strong> {{email}}</p>
                    <p class="card-text"><strong>Teléfono:</strong> +506 8456-8267</p>
                    <p class="card-text"><strong>Edad:</strong> 22 años</p>
                    <button mat-button>
                        <mat-icon>edit</mat-icon>
                        <a href="/editar">Editar</a>
                    </button>
                </div>
            </div>
            <div class="col-md-6 columna-perfil">
                <img src="https://cdn.pixabay.com/photo/2024/03/28/22/39/ai-generated-8661807_640.png" alt="Perfil">
            </div>
        </div>
    </div>
</div>