<app-header></app-header>
<div class="content-wrapper">
    <div class="columns">
        <div class="column col-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-3 col-sm-12 col-ml-auto">
                        <input class="form-input" type="text" id="globalSearch" (input)="onChange($event)"
                            placeholder="Buscar" />
                    </div>
                </div>
            </form>
        </div>
        <div class="user-actions">
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addUser">
                <i class="bi bi-plus-lg"></i> Crear Usuario</button>
        </div>
        <ngx-table #table [configuration]="configuration" [data]="usuarios" [columns]="columns">
        </ngx-table>
        <ng-template #actionTpl let-row>
            <button class="btn btn-sm btn-outline-warning me-2" (click)="openEditModal(row)" data-bs-toggle="modal"
                data-bs-target="#editUser"><i class="bi bi-pencil-square"></i> Editar</button>
            <button class="btn btn-sm btn-outline-danger" (click)="openDeleteModal(row)"><i class="bi bi-trash3"></i>
                Eliminar</button>
        </ng-template>
    </div>

    <!-- modals -->
    <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true"
        #addUserModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addUserModalLabel">Agregar Nuevo Usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="newUserForm" (ngSubmit)="createUser();">
                        <div class="mb-3">
                            <label class="form-label" for="nombre">Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="apellido">Apellidos</label>
                            <input type="text" class="form-control" formControlName="apellido" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="telefono">Teléfono</label>
                            <input type="text" class="form-control" formControlName="telefono" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="correoElectronico">Correo Electrónico</label>
                            <input type="email" class="form-control" formControlName="correoElectronico"
                                autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="contrasena">Contrase&ntilde;a</label>
                            <input type="password" class="form-control" formControlName="contrasena" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="rol">Rol</label>
                            <select class="form-control" formControlName="rol" autocomplete="off">
                                <option value="admin">Administrador</option>
                                <option value="instructor">Instructor</option>
                                <option value="alumno">Alumno</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Agregar</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true"
        #editUserModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addUserModalLabel">Editar Usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editUserForm" (ngSubmit)="updateUser();">
                        <div class="mb-3">
                            <label class="form-label" for="nombre">Nombre</label>
                            <input type="text" class="form-control" formControlName="nombre" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="apellido">Apellidos</label>
                            <input type="text" class="form-control" formControlName="apellido" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="telefono">Teléfono</label>
                            <input type="text" class="form-control" formControlName="telefono" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="correoElectronico">Correo Electrónico</label>
                            <input type="email" class="form-control" formControlName="correoElectronico"
                                autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="contrasena">Contrase&ntilde;a</label>
                            <input type="password" class="form-control" formControlName="contrasena" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="rol">Rol</label>
                            <select class="form-control" formControlName="rol" autocomplete="off">
                                <option value="admin">Administrador</option>
                                <option value="instructor">Instructor</option>
                                <option value="alumno">Alumno</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Actualizar</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>