#usuariosTb{
    width: 100%;
}

#usuariosTb td, #usuariosTb th{
    text-align: center;
}

div.container{
    margin: 2% auto;
}

div.user-actions{
    float: right;
}

.deleteUser{
    margin-left: 5px;
}

[data-bs-target="#addUser"]{
    margin-top: 10px;
}

.ngx-table__header-cell{
    text-align: center;
}