@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.banner6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    position: relative;
    padding-top: 150px;

}


.banner6 h2,
.banner6 h6 {
    color: #3e4555;
}

.banner6 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}



.banner6 .text-link {
    color: #26445a;
    font-weight: 500;
}


.btn-registro {
    background-color: #26445a;
}

.banner6 .right-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0px;
    border-radius: 10px;
}

/* Botón de inicio de sesión de Google */
.btn-google {
    background-color: white;
    border-color: #f2cc8f;
    border-style: double;
    color: #f3c317;
    border-radius: 20px;
}

.btn-google:hover {
    background-color: #f0e5bd;
}

.btn-google .google-icon {
    margin-right: 10px;
}

.btn-google .google-icon img {
    width: 35px;
    height: 35px;
}