mat-accordion {
    margin: 50px;
}

.container-pregunta {
    margin-top: 50px;
}

mat-expansion-panel {
    background-color: white;
    color: grey;
    margin: 0 200px;
}

mat-panel-title {
    color: black;
    font-weight: bold;
}