.btn-icon {
    background-color: transparent;
    border: none;
    color: white;
}

.container {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 350px;
    padding: 20px;
}

.page {
    align-content: center;
    height: 97%;
}

.form-group {
    margin-bottom: 10px;
}

.btn-container {
    display: inline-grid;
    justify-items: center;
    width: 100%;
}

.btn {
    border: none;
    background-color: #f3c317;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #876b05;
}

/* Botón de inicio de sesión de Google */
.btn-google {
    background-color: white;
    border-color: #f3c317;
    border-style: double;
    color: #f3c317;
  }
  .btn-google:hover {
    background-color: #f0e5bd;
}

  .btn-google .google-icon {
    margin-right: 10px;
  }
  
  .btn-google .google-icon img {
    width: 20px;
    height: 20px;
  }
  