<app-header></app-header>

<div class="container mt-4">
    <h2>Detalles de Envío</h2>
    <form>
        <!-- Detalles de Envío -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nombre">Nombre *</label>
                <input type="text" class="form-control" id="nombre" required>
            </div>
            <div class="form-group col-md-6">
                <label for="apellidos">Apellidos *</label>
                <input type="text" class="form-control" id="apellidos" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cedula">Cédula *</label>
                <input type="text" class="form-control" id="cedula" required>
            </div>
            <!-- Otros campos de detalles de envío -->
        </div>

        <!-- Su Orden -->
        <h2>Su Orden</h2>
        <div class="form-row">
            <!-- Detalles del producto -->
        </div>
        <div class="form-row">
            <!-- Subtotal y total -->
        </div>

        <!-- Método de Pago -->
        <h2>Método de Pago</h2>
        <div class="form-group tarjetas">
            <label for="tarjeta">Tarjetas de crédito/débito</label>
            <select class="form-control" id="tarjeta">
                <option>Visa</option>
                <option>Mastercard</option>
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="numero-tarjeta">Número de tarjeta *</label>
                <input type="text" class="form-control" id="numero-tarjeta" required>
            </div>
            <!-- Otros campos de la tarjeta -->
        </div>

        <!-- Pago por Sinpe Móvil -->
        <h2>Pago por Sinpe Móvil</h2>
        <!-- Detalles de Sinpe Móvil -->

        <!-- Términos y Condiciones -->
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="terminos" required>
            <label class="form-check-label" for="terminos">He leído y estoy de acuerdo con los términos y condiciones de
                la web *</label>
        </div>

        <!-- Botón de Realizar Pedido -->
        <button type="submit" mat-button>Realizar pedido</button>
    </form>
</div>