<app-header></app-header>
<app-banner [tituloBanner]="titulo" [contenidoBanner]="contenido"></app-banner>

<div class="container-pregunta">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pregunta frecuente 1
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Respuesta a la pregunta frecuente</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pregunta frecuente 2
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Respuesta a la pregunta frecuente</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pregunta frecuente 3
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Respuesta a la pregunta frecuente</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pregunta frecuente 4
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Respuesta a la pregunta frecuente</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pregunta frecuente 5
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Respuesta a la pregunta frecuente</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pregunta frecuente 6
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Respuesta a la pregunta frecuente</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pregunta frecuente 7
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Respuesta a la pregunta frecuente</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pregunta frecuente 8
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Respuesta a la pregunta frecuente</p>
        </mat-expansion-panel>

    </mat-accordion>
</div>

<app-chat-bot></app-chat-bot>