.body {
    background-image: url('https://scontent.fsyq1-1.fna.fbcdn.net/v/t39.30808-6/419844157_699408995689823_7324170166552179882_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=IGKnknuOuBcAb6mrh-f&_nc_ht=scontent.fsyq1-1.fna&oh=00_AfDaf2NOk5EPfEeFU5RrO1HfULNa34iZDV24pItze6mVjQ&oe=66165F8A');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 81vh;
    padding: 203px;
}

mat-divider {
    border-top-color: #f3c317;
    margin: 20px;
}

mat-form-field {
    width: 100%;
}


.btn-icon {
    background-color: transparent;
    border: none;
    color: white;
}

p {
    color: #969696;
    font-style: italic;
    text-align: center;
    margin: 10px;
}

.login-card {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f3c317;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #876b05;
}