<mat-drawer-container class="content" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <button mat-button>
            <mat-icon>home</mat-icon>
            Inicio
        </button>
        <button mat-button>
            <mat-icon>book</mat-icon>
            Mis cursos
        </button>
        <button mat-button>
            <mat-icon>timeline</mat-icon>
            Reportes
        </button>
        <button mat-button>
            <mat-icon>settings</mat-icon>
            Soporte
        </button>
        <button mat-button>
            <mat-icon>person</mat-icon>
            Perfil
        </button>
    </mat-drawer>

    <div class="sidenav-content">
        <div class="menu-title">
            <button mat-icon-button type="button" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h2>Centro Cristiano de Heredia</h2>
            <span class="spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="perfil">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #perfil="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>

        </div>
        <div class="page-container">
            <app-content-page></app-content-page>
        </div>
    </div>
    <app-footer></app-footer>
</mat-drawer-container>