<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Centro Cristiano de Heredia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/cursos" routerLinkActive="active">Cursos</a></li>
                <li class="nav-item"><a class="nav-link" href="/reportes" routerLinkActive>Reportes</a></li>
                <li class="nav-item"><a class="nav-link" href="/ayuda">Ayuda</a></li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Sofía Mora</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/perfil">Mi perfil</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/mis-cursos">Mis cursos</a></li>
                        <li><a class="dropdown-item" href="/calendario">Calendario</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>