<app-header></app-header>
<br>
<br>
<br>
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card card-main p-3 py-4 shadowBorder">
                <form [formGroup]="buyForm" (ngSubmit)="buyCourse()">
                    <h2>Inscripci&oacute;n</h2>
                    <div class="mb-3">
                        <label for="curso" class="form-label">Curso</label>
                        <select #curso class="form-control" id="curso" (change)="loadPrice()">
                            <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="material" class="form-label">Material</label>
                        <select #material class="form-control" id="material">
                            <option>Libro de texto</option>
                            <option>Material virtual</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="monto" class="form-label">Total a pagar</label>
                        <input type="text" class="form-control" id="monto" formControlName="monto" placeholder="0"
                            readonly>
                    </div>
                    <mat-divider></mat-divider>
                    <h5>Pago por Sinpe Móvil</h5>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usrTelefono" class="form-label">Número del que se realizó el sinpe *</label>
                                <input type="tel" class="form-control" id="usrTelefono" formControlName="usrTelefono"
                                    required placeholder="# teléfono">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id" class="form-label">Número del comprobante *</label>
                                <input type="number" class="form-control" id="id" formControlName="id" required
                                    placeholder="# comprobante">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="file-upload"
                            class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                            <span>Cargar comprobante </span>
                            <input id="file-upload" formControlName="file-upload" type="file" class="sr-only"
                                accept="image/*">
                        </label>
                    </div>

                    <!-- Términos y Condiciones -->
                    <div class="form-group form-check mb-3">
                        <input #terminos type="checkbox" class="form-check-input" id="terminos" required>
                        <label class="form-check-label" class="form-label" for="terminos">He leído y estoy de acuerdo
                            con los términos y
                            condiciones de
                            la web *</label>
                    </div>

                    <!-- Botón de Realizar Pedido -->
                    <div class="row">
                        <div class="col-md-12 submitControl">
                            <input type="submit" class="btn btn-outline-warning btn-send pt-2 btn-block"
                                value="Inscribirme">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>