.content {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    margin: 23px 70px;
}

.chart {
    align-content: center;
    height: 400px;
    margin: 20px;
    width: 650px;
}

.pie {
    width: 400px;
}