<app-header></app-header>
<app-banner [tituloBanner]="titulo" [contenidoBanner]="contenido"></app-banner>

<div class="container-pregunta">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué ministerios ofrece la iglesia?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>La iglesia ofrece diversos ministerios incluyendo la Red de Hombres, Red de Mujeres, Hábitat, Ministerio
                de Matrimonios y Ministerios Generales.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo puedo inscribirme en un curso o taller?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Puedes inscribirte en los cursos o talleres a través de nuestra página web en la sección de inscripción o
                contactando a la oficina de la iglesia</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Hay programas para niños y jóvenes?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Sí, tenemos programas dedicados para niños y jóvenes, incluyendo la Escuela Dominical y el Ministerio de
                Jóvenes.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cuáles son los horarios de los servicios?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Los servicios se llevan a cabo los domingos a las 9:00 AM y 11:00 AM. También tenemos servicios los
                miércoles a las 7:00 PM.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Dónde está ubicada la iglesia?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Nuestra iglesia está ubicada en [dirección de la iglesia]. Puedes encontrar un mapa y más información de
                contacto en nuestra página web en la sección "Contacto".
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo puedo participar en el servicio comunitario?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Puedes participar en nuestros proyectos de servicio comunitario a través del ministerio Hábitat.
                Inscríbete en la oficina de la iglesia o en nuestra página web.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Ofrecen consejería matrimonial?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Sí, ofrecemos consejería matrimonial a través del Ministerio de Matrimonios. Para más información,
                contáctanos a través de nuestra página web o visita nuestra oficina.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo puedo donar a la iglesia?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Puedes realizar tus donaciones en línea a través de nuestra página web, o directamente en la iglesia
                durante los servicios.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo puedo unirme a un grupo pequeño o célula?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Puedes unirte a un grupo pequeño o célula contactando a nuestro coordinador de grupos pequeños a través
                de nuestra página web o visitando nuestra oficina.</p>
        </mat-expansion-panel>

    </mat-accordion>
</div>