mat-accordion {
    margin: 50px;
}

.container-pregunta {
    margin-top: 50px;
    text-align: -webkit-center;
}

mat-expansion-panel {
    background-color: white;
    color: grey;
    max-width: 1500px;
}

mat-panel-title {
    color: #26445a;
}