<app-header></app-header>

		<section class="banner">
			<div class="content-banner">
				<p>Acerquemonos a Dios</p>
				<h2>100% Relación <br /> NO Religion</h2>
			</div>
		</section>

		<main class="main-content">
			<section class="container container-features">
				<div class="card-feature">
					<i class="fa-solid fa-plane-up"></i>
					<div class="feature-content">
						<span>1 Corintios 13:4-5</span>
						<p>El amor es paciente bondadoso</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-wallet"></i>
					<div class="feature-content">
						<span>Filipenses 4:6-7</span>
						<p>No se inquieten por nada, más bien, oren por todo</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-gift"></i>
					<div class="feature-content">
						<span>Isaías 40:31</span>
						<p>Los que confían en el Señor renovarán sus fuerzas</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-headset"></i>
					<div class="feature-content">
						<span>Marcos 11:24</span>
						<p>Crean que ya han recibido todo lo que estén pidiendo en oración, y lo obtendrán.</p>
					</div>
				</div>
			</section>

			<section class="container top-categories">
                <br>
				<div class="container-categories">
					<div class="card-category category-OJ">
						<p>Oremos Juntos</p>
					</div>
					<div class="card-category category-JS">
						<p>Jesus es suficiente</p>
					</div>
					<div class="card-category category-DP">
						<p>Dios de procesos</p>
					</div>
				</div>
			</section>

			<br>
			<br>
		</main>
		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
