<app-header></app-header>

<br>

<br>

<div class="container mt-4">
    <div class="card mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title">Información de tu perfil</h2>
                    <p class="card-text"><strong>Nombre: </strong>{{ name }}</p>
                    <p class="card-text"><strong>Correo electrónico: </strong>{{ email }}</p>
                    <p class="card-text"><strong>Teléfono: </strong>{{ phone }}</p>
                    <button mat-button>
                        <mat-icon>edit</mat-icon>
                        <a href="/editar">Editar</a>
                    </button>
                </div>
            </div>
            <div class="col-md-6 columna-perfil">
                <img [src]="photo" alt="Perfil">
            </div>
        </div>
    </div>
</div>