<app-header></app-header>
<div class="container">
    <div class=" text-center">
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mx-auto p-4 shadowBorder no-border">
                <div class="card-body">
                    <div class="container-form">
                        <h2 class="text-center">Editar Perfil</h2>
                        <div class="text-center imgContainer">
                            <img [src]="photo" class="rounded-circle imgProfile" alt="...">
                            <input type="file" class="form-control" (change)="onFileSelected($event)">
                        </div>
                        <form [formGroup]="editUserForm" (ngSubmit)="guardarCambios();">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="nombre">Nombre</label>
                                            <input type="text" class="form-control" formControlName="nombre"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="apellido">Apellidos</label>
                                            <input type="text" class="form-control" formControlName="apellido"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="telefono">Teléfono</label>
                                            <input type="text" class="form-control" formControlName="telefono"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="correoElectronico">Correo
                                                Electr&oacute;nico</label>
                                            <input type="email" class="form-control" formControlName="correoElectronico"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="contrasena">Contrase&ntilde;a</label>
                                            <input type="password" class="form-control" formControlName="contrasena"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="confirma">Confirmar contrase&ntilde;a</label>
                                            <input type="password" class="form-control" formControlName="confirma"
                                                autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 submitControl">
                                        <input type="submit" class="btn btn-outline-warning btn-send pt-2 btn-block"
                                            value="Guardar">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>