<app-header></app-header>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total de Usuarios</mat-card-title>
            </mat-card-header>
            <mat-card-content class="number">
                {{ totalUsuarios }}
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total de Cursos</mat-card-title>
            </mat-card-header>
            <mat-card-content class="number">
                {{ totalCursos }}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total de Instructores</mat-card-title>
            </mat-card-header>
            <mat-card-content class="number">
                {{ totalCursos }}
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Cantidad de usuarios por perfil</mat-card-title>
            </mat-card-header>
            <mat-card-content class="chart">
                <canvas id="barChart">{{ barChart }}</canvas>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Actividad de usuarios en los cursos</mat-card-title>
            </mat-card-header>
            <mat-card-content class="chart">
                <canvas id="myChart"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>