.container {
    max-width: 520px;
    margin-bottom: 417px;
}

.columna-perfil {
    align-content: center;
}

img {
    border-radius: 100%;
    width: 150px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f3c317;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #876b05;
}

mat-icon {
    vertical-align: middle;
    font-size: 18px;
}