.footer {
    align-items: center;
    background-color: #4c4c4c;
    color: white;
    display: flex;
    padding: 3rem;
}

a {
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

mat-icon, svg {
    height: 24px;
    width: 24px;
}

svg {
    margin-left: 20px;
}