.cardContainer {
width: 300px;
height: 600px;
position: fixed;
right: 0.8rem;
bottom: 6.8rem;
}

.card-header {
  background-color: rgb(73, 206, 73);
  color: white;
  font-weight: 700;
}

.card-body {
  padding: 0.5rem;
  background-image: url('https://www.fullsail.edu/resources/wallpaper-file01/MediaIcons_1080x1920.jpg') ;
}

.imgEnviar:active{
  transform: scale(0.9);

}


.enviado {
  display: block;
  float: right;
  background-color: aquamarine;
  color: white;
  min-width: 50.01%;
  border-radius: 10px;
  text-align: left;
}

.recibido {
  display: block;
  float: left;
  background-color: grey;
  color: white;
  min-width: 50.01%;
  border-radius: 10px;
  text-align: left;
}