<!-- <div class="chat-container">
  <div *ngFor="let message of messages" class="message">{{ message }}</div>
</div>
<div class="input-container">
  <input type="text" [(ngModel)]='userInput' (keyup.enter)="sendMessage()" placeholder="Type your message...">
  <button (click)="sendMessage()">Send</button>
</div> -->

<div class="bubble-container" cdkScrollable>
  <button mat-raised-button #tooltip="matTooltip" matTooltip="Este es un bot con el que puedes hablar" [matTooltipPosition]="'left'"
    matTooltipHideDelay="0">
    <mat-icon>message</mat-icon>
  </button>
</div>